include layout
body
  .wrapper
      .header
      .mid-content
        .container
          .row
            .col-md-8
              .left-side
                h1.text-header #{data.leftside.title}
                p.strng #{data.leftside.address.title}
                p
                  each line indata.leftside.address.addresslines
                    !=line
                    br                  
                p.strng #{data.leftside.email.title}
                p #{data.leftside.email.email}
                each obj in data.leftside.sections
                  p.strng #{obj.title}
                  each line in obj.descriptoin
                    p
                      !=line               
            .col-md-4
              if data.has_sidebar
                .right-side
                  each para in data.rightside.sidebarinfo
                    p.paraline-right-tag #{para.title}
                    each p in para.descriptoin
                      p.paraline-right
                        !=p     
      include footer