.footer
	.container
		.footer-menu-list
			ul.footer-menu
				li
					a(href='/') Downtoad Home
				li
					a(href='#') Terms & Conditions
				li
					a(href='/privacy') Privacy Policy
				li
					a(href='/contact') Contact
				li
					a(href='/installer') Installer
				li
					a(href='/removesoftware') Remove Software
				li
					a(href='/') Reset Homepage
		.footer-para
			p.footer-para-text
				| © Downtoad.com 2014. All rights reserved. Images may be subject to copyright.
				| All trademarks on this web site whether registered or not, are the property of their respective owners.
				| The authors of this website are not sponsored by or affiliated with any of the third-party
				| trade mark or third-party registered trade mark owners, and make no representations about them,
				| their owners, their products or services.