include layout
body
  .wrapper
      .header
      .mid-content
        .container
          .row
            .col-md-8
              .left-side
                h1.text-header #{data.title}
                p.paraline-left
                  !=data.tagline
                each item in data.descriptoin
                  p.paraline-left
                    !=item
            .col-md-4
              if data.has_sidebar
                .right-side
                  p.paraline-right-tag #{data.sidebarinfo.title1}
                  p.paraline-right
                    !=data.sidebarinfo.details
                  img(src='#{data.sidebarinfo.image}')
                  each para in data.sidebarinfo.paragraphs1
                    p.paraline-right
                      != para
                    if data.sidebarinfo.title2 && data.sidebarinfo.title2!=""
                      p.paraline-right-tag #{data.sidebarinfo.title2}
                    each p in data.sidebarinfo.paragraphs2
                      p.paraline-right
                        !=p
      include footer
