include layout
body
	#header
	#main
		.container
			.content
				img.logo(width='48', height='48', src='#{data.icon}', alt='downtoad icon')
				h1 #{data.title}
				br
				br
				p.tagline
					!=data.tagline
				each item in data.descriptoin
					p
						!=item
			if data.has_sidebar
				.sidebar
					br
					p
						strong #{data.sidebarinfo.title1}
					p
						!=data.sidebarinfo.details
					img(src='#{data.sidebarinfo.image}')
					each para in data.sidebarinfo.paragraphs1
						p
							!= para
					if data.sidebarinfo.title2 && data.sidebarinfo.title2!=""
						p
							strong #{data.sidebarinfo.title2}
					each p in data.sidebarinfo.paragraphs2
						p #{p}
				//
					 sidebar end
			br.clear
	include footer
