include layout
body
  .wrapper
      .header
      .mid-content
        .container
          .row
            .col-md-8
              .left-side
                .installr
                  h1.text-header #{data.leftside.title}
                  each p in data.leftside.simpleparagraph
                    p
                      !=p                  
                  br
                  each s in data.leftside.sections
                    p.strng #{s.title}
                    if s.hasimage
                      p.img-box
                      //
                        <img class="img-responsive" src="#{s.imageurl}">
                    each d in s.descriptoin
                      p
                        !=d                  
                  br
                  br
                  p.strng #{data.leftside.tableinfo.title}
                  .table-responsive
                    table.table
                      tr
                        th(width='130px') #{data.leftside.tableinfo.collumns[0]}
                        th(width='370px') #{data.leftside.tableinfo.collumns[1]}
                        th.rite(width='90px') #{data.leftside.tableinfo.collumns[2]}
                      each row in data.leftside.tableinfo.rows
                        tr                        
                          td
                            !=row.Name
                          td
                            !=row.Features
                          td.rite
                            !=row.Contact
            .col-md-4
              .right-side
      include footer
