doctype html
html(lang='en')
	head
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		title Downtoad-privacy-policy
		meta(charset='utf8')
		meta(name='viewport', content='width=device-width,initial-scale=0')
		meta(name='description', content='')
		meta(name='author', content='Mi fe')
		link(href='/css/bootstrap.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/font-awesome.css')
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')
		link(rel='stylesheet', type='text/css', href='/css/style.css')
