include layout
body
  .wrapper
      .header
      .mid-content
        .container
          .row
            .col-md-8
              .left-side
                .brwsr-wrappr
                  h1.text-header
                    img.img-responsive.logo-header(src='#{data.leftside.icon}')
                    | #{data.leftside.title}
                  br
                  p
                    !=data.leftside.note
                  br
                  br
                  each section in data.leftside.sections
                    if section.has_download_button
                      .free-dwnlod
                        a(href='#{section.downloadlink}')
                          img.img-responsive.arw(src='images/arrow.png')
                          span.dwnlod-btnn #{section.donwload_btn_title}
                      br
                    if section.message_below_button && section.message_below_button!=""
                      p
                        !=section.message_below_button
                    br
                    br
                    br
                    p.strng #{section.title}
                    each d in section.descriptoin
                      p
                        !=d
                    br
                    br                  
            .col-md-4
              if data.has_sidebar
                .right-side
                  p
                    each star in data.rightside.stars
                      !=star
                  p.strng #{data.rightside.recommendation}
                  img.img-responsive.side-logo(src='#{data.rightside.logo}')
                  .table-responsive
                    table
                      tbody
                        tr
                          td
                            p.strng Software:
                          td #{data.rightside.software}
                        tr
                          td
                            p.strng License:
                          td #{data.rightside.license}
                        tr
                          td
                            p.strng EULA:
                          td
                            !=data.rightside.eula
                        tr
                          td
                            p.strng Author:
                          td
                            !=data.rightside.author
                        tr
                          td(valign='top')
                            p.strng OS:
                          td
                            !=data.rightside.os
                        tr
                          td
                            p.strng Downloads:
                          td  #{data.rightside.donwloads}
      include footer