include layout
body
	.wrapper
			.header
			.mid-content
				.container
					.row
						.col-md-8
							.left-side
								h1.text-header #{data.leftside.title}
								p.strng #{data.leftside.note}
								each para in data.leftside.paragraphs
									p.strng
										!=para.title
									p
										!=para.descriptoin
						.col-md-4
							if data.has_sidebar
								.right-side
									each para in data.rightside.sidebarinfo
										p.paraline-right-tag #{para.title}
										each p in para.descriptoin
											p.paraline-right
												!=p						
			include footer
