include layout
body
	.wrapper
			.header
			.mid-content
				.container
					.row
						.col-md-8
							.left-side
								h1.text-header #{data.leftside.title}
								p
									!=data.leftside.note
								each para in data.leftside.paragraphs
									p.strng #{para.title}
									p
										!=para.descriptoin
								h2.strng-2 #{data.leftside.uninstall_instructions.title}
								p
									each inst in data.leftside.uninstall_instructions.inst
										p.strng #{inst.osname}										
										p
										each instruction in inst.Instructions
											!=instruction
											br
										br
									h2.strng-2 #{data.leftside.uninstall_browser_addon.title}
									each inst in data.leftside.uninstall_browser_addon.inst
										p.strng #{inst.browser}
										p
											each instruction in inst.Instructions
												!=instruction
												br
											br				
						.col-md-4
							if data.has_sidebar
								.right-side
									each para in data.rightside.sidebarinfo
										p.paraline-right-tag #{para.title}
										each p in para.descriptoin
											p.paraline-right
												!=p	
			include footer