


body{ font-family: "Open Sans",sans-serif; background-color: #f3f3f3;}

/* free-software Page */
.header { background-color: #8f6141; height:5px; }
.left-side { border-right:2px solid #D6D6D6; margin-left: 11%; padding-right: 35px; margin-top: 8%;}
.right-side {  margin-top: 21%; margin-left:2%; }
.paraline-left { color: #4F4F4F; font-size: 14px; line-height: 21px; padding: 3px 0 8px 0; text-align:justify; }
.paraline-right { color: #4F4F4F; font-size: 14px; line-height: 21px; padding: 3px 22% 8px 0; text-align:justify; }
.paraline-right-tag { font-weight: 700; color: #8f6141; }
.text-header { font-weight:bold; font-size:2em; color: #8f6141; margin-bottom: 20px;}
.footer-menu li { display: inline-block; padding-left: 5px; padding-right: 5px; }
.footer-menu { padding-left: 6.8%; }
.footer-para { padding-left: 7%; padding-right: 7%; text-align: justify; margin-top: 16px;}
.footer { background-color: #C6BC9E; padding-bottom: 25px; padding-top: 25px; }
.footer-para-text { color: #4F4F4F; }
.footer-menu a { color: #8f6141; font-size: 15px; text-decoration: underline;}
.footer-menu a:hover { color: #724E34; }
.mid-content { padding-bottom: 38px; }


/* privacy policy Page */
.strng { color: #4F4F4F; font-weight: 700; font-size: 16px;}


/* Remove software Page */

.strng-2 { color: #8f6141; font-weight: 700; font-size: 1.6em; }


/* installer Page */

.img-box { border: 2px dashed #c4c4c4; height: 150px; }
.rite { text-align: right; }
.rite > a { color: #8f6141; text-decoration:underline; }
.installr p { text-align:justify; line-height:1.6; }


/* download browser */

.logo-header { display: inline-block; margin-right: 12px; width: 7%; }
.arw { display: inline-block; margin-left: 12px; margin-right: 5px; margin-top: -5px; }
.free-dwnlod { background-color: #00cfff; border-bottom: 4px solid #00a7cf; border-radius: 10px; color: #fff; padding: 12px; width: 80%;}
.dwnlod-btnn { font-size: 22px; font-weight: 600; margin-left: 15px; color: #ffffff; }
.brwsr-wrappr { line-height:1.7;}
.free-dwnlod:hover { background-color: #00a7cf; text-decoration:none; color:#ffffff; }
.stars { color: orange; font-size: 1.1em; }
.side-logo { width: 44%; }
.table-responsive p { margin-bottom:0;}
.free-dwnlod > a:hover { text-decoration:none; }
.side-logos { width: 16%; }
.brwsr-wrappr > p { text-align: justify; }

