@charset "UTF-8";
/* CSS Document */

body{
background: #FFFFFF;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
line-height: 21px;
color: #585858;
margin: 0;
padding: 0;
}

* 

{
margin:0;
padding:0;
}

a{color: #94C11F;}
a:hover{color: #6E8D19;}

img {border:none}

p{
color: #585858;
font-size: 14px;
line-height: 21px;
padding: 3px 0 8px 0;
}


.clear {clear:both;}


.float-left{float: left}


.float-right{float: right}



/* Container Styles
------------------------------------------------*/

#header{
background: url(http://www.downtoad.com/css/template003/images/bg-repeat.jpg) repeat top left #fff;
height: 5px;
}
#main{
padding: 40px 0;
}
	.content{
	float: left; 
	text-align:justify; border-right: 3px solid #EEEEEE; 
	padding-right: 30px;
	width: 596px;
	}
	.sidebar{
	float: right;
	width: 290px; 
	}
#footer{
border-top: 3px solid #EEEEEE; 
background: #DDDDDD; 
padding: 15px 0;
}
.container{
margin: 0 auto;
width: 950px;
}



/* Main Styles 
------------------------------------------------*/


h1{

font-size: 30px;float: left;
color: #000000;
font-weight: strong;
padding: 10px 0 5px 10px;
}



.logo{
float: left;
}
.tagline{
clear: both;
}

p.disclaimer {font-size: 11px; line-height: 17px; color: #666666;}



.style1{
float: left;
color: #000000;
font-weight: strong;
padding: 0px 0 0px 0px;
}


.style2{
float: right;
color: #222222;
font-weight: strong;
padding: 0px 0 0px 0px;
}


.screenshot{
float: none;
padding: 7px 0 15px 20px;
}

a.button {
clear: both;
display: inline-block;
background:  url(http://www.downtoad.com/css/template003/images/arrow.png) no-repeat 19px 17px #082AFC;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
border-bottom: 3px solid #172DB6;
font-weight: 600;
color: #fff;
text-decoration: none;
font-size: 24px;
padding: 16px 35px 16px 65px;
margin: 13px 0 5px 0;
}
	a:hover.button {background:  url(http://www.downtoad.com/css/template003/images/arrow.png) no-repeat 19px 17px #172DB6;}

#footer a{margin-right: 9px;}